.menu-container {
    text-align: center;
    padding: 40px;
    font-family: Georgia;
  }
  
  .menu-container h1 {
    font-size: 28px;
    color: #198754;
  }
  
  .menu-container p {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .report-button,
  .search-button {
    background-color: #198754;
    color: white;
    padding: 12px 24px;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia;
  }
  